<!DOCTYPE html>
<html>
	<head>
		<meta name="charset" value="utf-8">
		<title>meteo.gymlit.cz</title>
 
		<link rel="stylesheet" href="{$baseUri}/css/screen.css" media="all">
	</head>

	<body>
		<div id="page">
			{include content}
		</div>
	</body>
</html>
